@model Category

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2 text-center">Create Category</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form asp-action="SaveCreate" asp-controller="Category" method="post" class="row">
			<div class="border p-3">
				<div class="form-floating py-2 col-12">
					<input asp-for="Name" class="form-control border-0 shadow name-textbox" />
					<label asp-for="Name" class="ms-2"></label>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="DisplayOrder" class="form-control border-0 shadow order-textbox" />
					<label asp-for="DisplayOrder" class="ms-2"></label>
					<span asp-validation-for="DisplayOrder" class="text-danger"></span>
				</div>
				<div class="row pt-2 buttons">
					<div class="col-6 col-md-3 create-button">
						<button type="submit" class="btn btn-primary form-control">Create</button>
					</div>
					<div class="col-6 col-md-3 back-button">
						<a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<style>
	:root {
		--main-color: gray;
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		margin-top: 60px;
	}

	.buttons .back-button a {
		background-color: lightgray;
	}
	.buttons .back-button a:hover{ 
		background-color: var(--main-color);
	}

	.form-control.name-textbox:focus,
	.form-control.order-textbox:focus {
		border: 1px solid var(--main-color) ;
		box-shadow: none;
	}
</style>