@model Category

<form asp-action="SaveEdit" asp-controller="Category" asp-route-id="@Model.Id" method="post">
	@* <input asp-for="Id" hidden /> *@
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary text-center">Edit Category</h2>
			<hr />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" class="form-control name-textbox" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="DisplayOrder" class="p-0"></label>
			<input asp-for="DisplayOrder" class="form-control order-textbox" />
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>
		</div>
		<div class="row buttons">
			<div class="col-6 col-md-3 update-button">
				<button type="submit" class="btn btn-primary form-control">Update</button>
			</div>
			<div class="col-6 col-md-3 back-button">
				<a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">Back</a>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<style>
	:root {
		--main-color: gray;
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		margin-top: 60px;
	}

		.buttons .back-button a {
			background-color: lightgray;
		}

		.buttons .back-button a:hover {
			background-color: var(--main-color);
		}

	.form-control.name-textbox:focus,
	.form-control.order-textbox:focus {
		border: 1px solid var(--main-color);
		box-shadow: none;
	}
</style>