@model RoleManagementVM

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2 text-center">Manage User Role</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form asp-action="SaveUpdate" asp-controller="User" method="post" class="row">
			<input asp-for="ApplicationUser.Id" hidden/>
			<div class="border p-3">
				<div class="form-floating py-2 col-12">
					<input asp-for="ApplicationUser.Name" readonly class="form-control border-0 shadow name-textbox" />
					<label asp-for="ApplicationUser.Name" class="ms-2"></label>
				</div>
				<div class="form-floating py-2 col-12">
					<select asp-for="ApplicationUser.Role" asp-items="@Model.Roles" class="form-select">
					</select>
				</div>
				@{
					var displayCompany = "display:none";
				}
				@if (Model.ApplicationUser.Role == StaticDetails.Role_Company)
				{
					displayCompany = "display:block";
				}
				<div class="form-floating py-2 col-12">
					<select asp-for="ApplicationUser.CompanyId" style="@displayCompany" asp-items="@Model.Companies" class="form-select">
					</select>
				</div>
				<div class="row pt-2 buttons">
					<div class="col-6 col-md-3 create-button">
						<button type="submit" class="btn btn-primary form-control">Update Role</button>
					</div>
					<div class="col-6 col-md-3 back-button">
						<a asp-controller="User" asp-action="Index" class="btn btn-outline-primary form-control">Back</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<script>
		$(document).ready(function () {
			$("#ApplicationUser_Role").change(function () {
				const selectedRole = $("#ApplicationUser_Role Option:Selected").text();
				if (selectedRole === "Company") {
					$("#ApplicationUser_CompanyId").show();
				} else {
					$("#ApplicationUser_CompanyId").hide();
				}
			});
		});
	</script>
}

<style>
	:root {
		--main-color: gray;
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		margin-top: 60px;
	}

		.buttons .back-button a {
			background-color: lightgray;
		}

			.buttons .back-button a:hover {
				background-color: var(--main-color);
			}

	.form-control.name-textbox:focus,
	.form-control.order-textbox:focus {
		border: 1px solid var(--main-color);
		box-shadow: none;
	}
</style>

